@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.brand-logo {
    padding-left: 60px;
    padding-bottom: 7.5px;
    padding-top: 10px;
}

.logo-section {
    background-color: white;
}


.header {
background-color: white;
}

.nav-links {
    display: flex;
    flex-basis: 70%;
    display: flex;
    background: red;
    padding-left: 55px;
}

.nav-links a {
    padding: 15px;
    padding-left: 20px;
    text-decoration: none;
    display:flex
    text-decoration: none;
    color: white;
}
